<!DOCTYPE html>
<html lang="zh-CN">
@@include('../template/meta.html')

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Navbar -->
        @@include('../template/head.html')
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        @@include('../template/side.html')

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="col-12">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>新增文件业务</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="./index.html">起始页</a></li>
                                    <li class="breadcrumb-item">新增业务</li>
                                    <li class="breadcrumb-item active">新增文件业务</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row row-cols-2">
                            <div clsas="form-group col">
                                <label>选择本地文件</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFile">
                                        <label class="custom-file-label" for="customFile">选择文件</label>
                                    </div>
                                    <span class="input-group-append" id="upload_file">
                                        <button type="button" class="btn btn-info btn-flat">上传</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary float-right" id="submit_video">创建业务</button>
                    </div>
                    <div class="overlay d-none" id="card_overlay">
                        <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                    </div>
                </div>
            </div>
            <!-- /.card -->
        </div>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
</body>

</html>
@@include('../template/scripts.html')
<script>
    $('#bussiness_new').addClass('active')
    $('#bussiness_new').parent().addClass('menu-open')
    $('#bussiness_new_file').addClass('active')
    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script src="js/bussiness_new_video.js"></script>